.div-header {
  display: grid;
  grid-template-columns: 170px 1fr 510px;
  height: 64px;
}

.img-logo {
  margin-top: 18px;
  margin-left: 40px;
}

.div-header-spacebetween {
  min-width: 300px;
}

.div-links-and-button {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.div-links-container {
  height: 22px;
  width: 288px;
  margin-top: 21px;
  display: flex;
  justify-content: space-between;
}

.links-header {
  color: black;
  font-size: 18px;
  font-weight: 400px;
  font-family: 'Roboto', sans-serif;
}

.links-header:hover {
  opacity: 50%;
}

.button-Sign-Up {
  width: 140px;
  height: 40px;
  margin-top: 12px;
  margin-right: 40px;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 500;
  background-color: white;
  border-style: solid;
  border-radius: 7px;
  cursor: pointer;
  border-width: 1px;
}

.button-Sign-Up:hover {
  background-color: black;
  color: white;
}

.button-Sign-Up:active {
  opacity: 50%;
}